section {
    > div {
        background-color: #fff;
        border-radius: 4px;
    }

    .nowrap {
        display: block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }
    .copy1 {
        color: #fff;
        background: #f89866;
        height: 24px;
        display: block;
        padding: 2px 7px;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
    }
    .copy2 {
        color: #fff;
        height: 24px;
        height: 24px;
        display: block;
        padding: 2px 7px;
        font-size: 14px;
        border-radius: 3px;
        background: rgba(129, 129, 129, 0.5);
    }
    .query {
        background: #fcfcfc;
        padding: 10px 16px;
        box-shadow: 0 1px 0 0 #e3e9ed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-mar {
            display: flex;
            align-items: center;
            > button {
                margin-left: 20px;
            }
        }
        .select {
            display: flex;
            align-items: center;
            .ivu-select {
                margin-right: 20px;
            }
            label {
                padding: 5px 10px;
                background: #f7f9fa;
                height: 32px;
                border: 1px solid #dcdee2;
                border-right: 0px;
            }
        }
    }

    .load-more {
        text-align: center;
        padding: 15px 16px;
        margin-bottom: 20px;
        border-top: 1px solid #eee;
        cursor: pointer;
        span {
            font-size: 15px;
            margin: 0 5px;
        }
    }
    .load-more:hover {
        color: #19be6b;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        padding: 12px;
        .author {
            display: flex;
            align-items: center;
            img {
                display: block;
                width: 23px;
                height: 23px;
                margin-right: 10px;
            }
        }

        .is_fb {
            color: #6cd1a7;
        }
        > div {
            margin: 7px;
            border-radius: 3px;
            width: 99%;
        }
        .jieshi {
            padding: 10px;
            border-top: 1px solid #efefef;
            > p {
                color: #2c3e50;
                span {
                    height: 42px;
                    text-overflow: -o-ellipsis-lastline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            > div {
                margin-bottom: 10px;
                .isBj {
                    cursor: pointer;
                    color: #19be6b;
                }
            }
        }

        .img-warp {
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
            width: 260px;
            .img-box {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 2px;
                img {
                    width: 100%;
                    height: 175px;
                }
            }
            .shade {
                width: 100%;
                height: 100%;
            }
            .shade p {
                position: absolute;
                top: 0px;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease;
                a {
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    padding: 5px 12px;
                    z-index: 10;
                    transition: all 0.3s ease;
                    transform: scale(0);
                    margin: 18px;
                }
                a:nth-child(1) {
                    background: #2db7f5;
                }
                a:nth-child(2) {
                    background: #19be6b;
                }
            }
            .shade:hover p {
                background: rgba(253, 252, 252, 0.2);
                a {
                    transform: scale(1);
                }
            }
            .no-publish {
                // opacity: 0.5;
                background-color: rgba(255, 255, 255, 0.5);
                span {
                    color: #fff;
                    opacity: 0.9;
                    border: 1px solid #fff;
                    background: #fa785e;
                    border-radius: 5px;
                    padding: 5px 12px;
                }
            }
        }
        .edit {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #efefef;
            padding: 10px;
            font-size: 14px;
            color: #aaa;
            span {
                // color: #fff;
                i {
                    margin-right: 5px;
                }
            }
        }
        .author-img {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
                width: 20px;
                height: 20px;
            }
        }
    }
}
.error-bot {
    // text-align: center;
    button {
        margin-right: 10px;
    }
}
