section > div {
    background-color: #fff;
    padding: 15px 0;
    border-radius: 6px;
}
.add-page {
    .isEx {
        color: red;
        margin-left: 10px;
    }
    .tip {
        margin-left: 15px;
    }
    .tip:hover {
        color: #2d8cf0;
        cursor: pointer;
    }
    .tip-box {
        position: absolute;
        top: 0;
        right: 30px;
        h3 {
            margin-bottom: 10px;
            text-align: right;
            font-size: 14px;
            font-weight: 400;
            margin-right: 10px;
            opacity: 0.8;
            span {
                cursor: pointer;
                margin-left: 5px;
            }
            span:hover,
            .active {
                color: #2d8cf0;
            }
            i {
                cursor: pointer;
            }
        }
        .tisi {
            border: 1px dashed #ffd77a;
            background-color: #fff9e646;
            border-radius: 4px;
            padding: 20px;
            margin: 10px;
            width: 410px;
            > div {
                font-size: 12px;
                color: #515a6e;
                line-height: 1.5;
                color: #515a6e;
                margin-bottom: 6px;
                .url {
                    color: #2d8cf0;
                }
                .code {
                    color: #fa795e;
                }
                .select {
                    padding: 2px 4px;
                    font-size: 90%;
                    color: #c7254e;
                    background-color: #f9f2f4;
                    border-radius: 4px;
                    margin: 0 5px;
                }
            }
        }
    }
    .uploader-example {
        width: 300px;
        font-size: 12px;
        // margin: 0 30px;
        .uploader-drop-botton {
            margin-top: 10px;
            display: flex;
            background-color: transparent;
            justify-content: center;
            padding: 0;
            border-radius: 4px;
            label{
                display: block;
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
    .uploader-example .uploader-list {
        max-height: 440px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
 
    .warp {
        padding-bottom: 20px;
        position: relative;
        img {
            display: block;
            width: 218px;
            height: 155px;
        }
        .upload {
            padding: 30px 50px;
        }
        .banben {
            // padding: 20px 40px;
            > div {
                width: 260px;
                > label {
                    display: inline-block;
                    margin-right: 6px;
                    width: 100px;
                    text-align: right;
                }
                > div {
                    > label {
                        margin: 0 25px;
                    }
                }
            }
        }
        p,
        > div {
            padding: 10px 10px;
            display: flex;
            align-items: center;
            > label {
                margin-right: 6px;
                width: 100px;
                text-align: right;
            }
            > div {
                > label {
                    margin-right: 6px;
                }
            }
            .editor {
                width: 86%;
            }
        }
        .add-clear {
            cursor: pointer;
        }
        .add-clear:hover {
            color: #19be6b;
        }
    }
    .button-footer {
        margin: 20px 100px;
        display: flex;
        button {
            width: 120px;
            margin: 0 30px;
        }
    }
}

.he-row{
    position: relative;
    .header__change{
        position: absolute;
        bottom: -30px;
        right: 150px;
        display: flex;
        .em-header__nav__item {
            float: left;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            color: #586069;
            cursor: pointer;
            border: solid transparent;
            border-width: 3px 1px 1px;
            border-radius: 3px 3px 0 0;
         
        }   .is-active {
                color: #24292e;
                background: #f5f7fa;
                border-color: #2d8cf0 #e1e4e8 transparent;
            }
    }
}
.auto-submit-zzc {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
